:root {
  font-family: 'Helvetica Neue', sans-serif;

  /* Style variables */
  --font-weight-regular: 300;
  --font-weight-medium: 400;
  --font-weight-bold: 500;

  --background-header:#991f39;
  --background-first-section: #d7d1c6;
  --background-card: #ded9d4;
  --text-color-primary: #2a313b;
  --text-color-secondary: #395884;

  /* Reset Styles */
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
  list-style-type: none;
  border: none;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: inherit;
  padding: inherit;
  list-style-type: inherit;
  font-weight: var(--font-weight-regular);
  color: var(--text-color-primary);
}